<form method='post'>
	<label><input type='text' name='land' placeholder='Land'/></label>
	<label><input type='text' name='name' placeholder='Navn'/></label>
	<label>
		<select name='type'>
			<option value='Rødvin'>Rødvin</option>
			<option value='Hvitvin'>Hvitvin</option>
			<option value='Musserende'>Musserende</option>
			<option value='Annet'>Annet</option>
		</select>
	</label>
	<label><input type='number' name='year' placeholder='Årstall'/></label>
	<label><input type='number' name='price' placeholder='Pris'/></label>
    <label>Aperitif<input type="checkbox" value="Aperitif"></label>
    <label>Skalldyr<input type="checkbox" value="Skalldyr"></label>
    <label>Fisk<input type="checkbox" value="Fisk"></label>
    <label>Lyst kjøtt<input type="checkbox" value="Lyst kjøtt"></label>
    <label>Småvilt<input type="checkbox" value="Småvilt"></label>
    <label>Storvilt<input type="checkbox" value="Storvilt"></label>
    <label>Storfe<input type="checkbox" value="Storfe"></label>
    <label>Lam og sau<input type="checkbox" value="Lam og sau"></label>
    <label>Svin<input type="checkbox" value="Svin"></label>
    <label>Grønnsaker<input type="checkbox" value="Grønnsaker"></label>
    <label>Ost<input type="checkbox" value="Ost"></label>
    <label>Dessert<input type="checkbox" value="Dessert"></label>
	<input type='submit' value='Legg til'/>
</form>