<form method='post'>
	<textarea  name="content" style="margin: 2px; height: 215px; width: 660px;">{ "land": "Spania",
    "name": "Cune Reserva",
    "type": "Rødvin",
    "year": "2008",
    "price": "166",
    "url": "http://www.vinmonopolet.no/vareutvalg/rodvin/spania/cune-reserva-2009/sku-5705801;pgid=KDlIlR0P8ZxSR0EKznIP3.0d0000DZRGb1cU;sid=76HKkBbll7LKkEXi1pKko9HvLi3I1HEe5lE=",
    "passer": [
        "Lam",
        "Storvilt",
        "Storfe"
    ]
}</textarea>
	<input type='submit' value='Legg til'/>
</form>