<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<header>
	<a href="/" class="logo">
        <img src="/images/vinminipolet.png" style="width: 15%;">
    </a>
    <ul class="menu">
        <li class="menu-item"><a href="/new">Ny vin</a></li>
    </ul>
</header>

<div class="content">
    {{>content}}
</div>

</body>
</html>